<div>
<form [formGroup]="detailsForm">
    <div class="form-group">
        <label for="fname">First Name  </label>
        <input formControlName="fname" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label for="lname">Last Name  </label>
        <input formControlName="lname" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label for="country">Country    </label>
        <input formControlName="country" type="text" class="form-control">
    </div>
</form>
{{detailsForm.value | json}}
<br>
<br>
<button (click)="btnClicked()" class="form-control">Click Me</button>
</div>